name: pre-commit

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"

    - name: Checkout code
      uses: actions/checkout@v4

    - name: pre-commit
      uses: pre-commit/action@v3.0.1
